[2019-05-29 17:59] nanzifan opened #68 "Running error with CUDA10.1"
Hi,

Does current RAJAPerf work with CUDA10.1?

I tried to run the suite with CUDA10.1, it pass all the `make test`. But when I run the suite, it gave me following error:

I looked into code, the error came from the code:
[code]

The line 68 is `cudaMemcpyDeviceToHost`.

I tried it with CUDA9.1, it runs perfectly.

[2019-05-29 18:03] davidbeckingsale commented on #68
What compiler flags are you using?

[2019-05-29 18:12] nanzifan commented on #68
I adopt them from `blueos/nvcc9, gcc_7_3_1` version.

Here is the script file:
`BUILD_SUFFIX=aws_nvcc10.1_gcc7.4.0
RAJA_HOSTCONFIG=../tpl/RAJA/host-configs/aws/v100/nvcc_gcc_7_4_0.cmake

rm -rf build_${BUILD_SUFFIX} >/dev/null
mkdir build_${BUILD_SUFFIX} && cd build_${BUILD_SUFFIX}

cmake \
  -DCMAKE_BUILD_TYPE=Release \
  -C ${RAJA_HOSTCONFIG} \
  -DENABLE_OPENMP=On \
  -DENABLE_CUDA=On \
  -DENA

[2019-05-29 18:17] davidbeckingsale commented on #68
Can you build with `make VERBOSE=1` and check that the same CUDA arch flag (sm_70) is passed to both the RAJA library files and the perfsuite files during compilation.

[2019-05-29 20:19] nanzifan commented on #68
I think both of them have the CUDA arch flag. Here is two entries: one is building CUDA object in RAJA src file, the other is building in perfsuite src file.

[code]

[code]

[2020-02-10 23:48] rhornung67 commented on #68
@nanzifan is this still an issue for you. I've successfully built and run the latest release version of the perf suite (v0.7.0) with 3 different versions of CUDA 10.1.x.

[2020-02-11 15:00] nanzifan commented on #68
Thanks for the noticing. It's not an issue for me any more. I'll close the issue.

[2020-02-11 15:00] #68 closed

[2020-09-15 18:45] abbotts opened #85 "CUDA build broken with GCC >= 8 for non-ppc platforms"
Using GCC 8+ as a host compiler for the CUDA backend on x86 fails with

[code]

The issue seems to be that the RAJA submodule is new enough to include the `-mno-float128` addition but not https://github.com/LLNL/RAJA/commit/b559f0a28f32134d2b3e15a275899f1df10aafa8 to make it only restrict to PPC platforms, where `-m[no-]float127` is a valid option. To continue testing I cherry-picked that change f

[2020-09-15 18:57] abbotts opened #86 "Out-of-bound write in CUDA Basic_INIT_VIEW1D_OFFSET"
I'm seeing an out-of-bound write in the `Basic_INIT_VIEW1D_OFFSET` test built for V100 with GCC 8.1.0 as the host compiler on RHEL 8.2. From cuda-memcheck on a Debug build:

[code]
The kernel demangles to `void RAJA::policy::cuda::impl::forall_cuda_kernel<256ul, RAJA::Iterators::numeric_iterator<long, long, long*>, rajaperf::basic::INIT_VIEW1D_OFFSET::runCudaVariant(rajaperf::VariantID)::{lambda(l

[2020-09-15 19:00] abbotts commented on #86
Note: to reproduce this I needed to cherry-pick a WAR to issue #85

[2020-10-21 04:13] markendr opened #87 "Kernel max time calc"
Hi,

I may be missing something but it looks like the max_time calc in KernelBase.cpp has a typo. Should max_time update be taking max() of max_time and new exec_time as shown in the following patch?

[code]

[2020-10-30 20:48] rhornung67 commented on #87
@markendr Good catch! A new release of the Perf Suite will be available within a day or two and will include a fix to the issue you pointed out.  Thank you.

[2020-10-30 20:48] #87 closed

[2020-10-30 22:21] rhornung67 commented on #86
@abbotts It's taken me a while to work down my to-do list to get to this.  I've fixed the issue. A new Perf Suite release will appear in a few days and will contain the fix.  Thanks for pointing this out. 👍

[2020-10-30 22:21] rhornung67 commented on #86
Will be fixed in v0.8.0 release.

[2020-10-30 22:21] #86 closed

[2021-01-26 17:07] abbotts opened #103 "src/CMakeLists.txt references deleted file algorithms/SORT-OMPTarget.cpp"
PR #101 added this line referencing a file that was deleted during the PR review. This breaks OMPTarget configure.

https://github.com/LLNL/RAJAPerf/blob/develop/src/CMakeLists.txt#L187

It looks like PR #102 will probably fix this as a side effect, so there probably isn't any action needed besides what's already there.

[2021-01-26 17:57] rhornung67 commented on #103
@abbotts PR #102 is now merged into develop. Please let us know if if you run into any other issues. Thank you.

[2021-01-28 18:07] abbotts commented on #103
Thanks @rhornung67 ! I can configure cleanly now. I get a couple build errors with the OMP Target backend, but those could be issues with our compiler. I'll investigate and open new issues if needed.

[2021-01-28 18:07] #103 closed

[2021-01-28 18:17] rhornung67 commented on #103
@abbotts thanks for confirming this resolved your earlier issue. Yes, please let us know if you hit more snags.

[2021-02-08 20:21] abbotts opened #104 "HALOEXCHANGE-OMPTarget references non-existent omp_target_parallel_exec policy"
Trying to build the OpenMP Target version with the Cray Clang compiler, compilation fails during the HALOEXCHANGE app:

[code]
This line seems to be at fault:

https://github.com/LLNL/RAJAPerf/blob/5f37acca141b52344a9916f6cb95c606287f0032/src/apps/HALOEXCHANGE-OMPTarget.cpp#L101

Changing that to the compiler-recommended `omp_target_parallel_for_exec_nt` does work.

For the record, I'm configuring

[2021-02-08 20:30] rhornung67 commented on #104
@abbotts thanks for pointing this out. The openmp_target_parallel_exec policy requires a template argument for the number of threads per team; e.g., openmp_target_parallel_exec<128>. The *_nt version does not. @MrBurmark can you address this issue?  Thank you.

[2021-02-08 22:36] #104 closed

[2021-02-09 15:34] abbotts opened #106 "Fall-through case statements in KernelBase::runKernel cause Base_Seq to not run if RAJA_Seq can't run"
The logic in these lines of KernelBase::runKernel uses fall-through case statements to run all the Sequential variants off a function. When `RUN_RAJA_SEQ` is not defined none of the sequential cases can be run.

https://github.com/LLNL/RAJAPerf/blob/5122ad1be05b8fa67fbebaebb581ae4a8b304f38/src/common/KernelBase.cpp#L97-L105

[2021-02-09 18:06] #106 closed

[2021-03-20 00:21] hidekisaito opened #110 "Incorrect use of nowait in the OpenMP version of Apps_PRESSURE?"
Just a theoretical problem.

The first OMP FOR loop writes to bvc[] and the second OMP FOR loop reads from it. It may work for practical purposes, but it still looks technically incorrect to me, as some threads may start executing the second loop, reading from bvc[], before some other threads finish writing to bvc[]. If there aren't good reasons to have those in two separate loops, it's better to

[2021-03-22 15:28] rhornung67 commented on #110
It's  written with two loops to be representative of the application from which the kernel was pulled. We probably didn't give it much thought since the machines we run tend to have static scheduling as the default. We could specify static scheduling on both loops so that it would be guaranteed to be correct for all OpenMP implementations. Thanks for the issue.

[2021-03-22 16:49] hidekisaito commented on #110
That'll do. Sorry for being picky.

[2021-03-22 16:49] #110 closed

[2021-04-06 14:46] jeffhammond opened #112 "CUDA_ARCHITECTURES is empty"
I guess this is yet another "Jeff is too stupid to understand the glorious wisdom of CMake" but I would like to solve it anyways.

I have set `-DCUDA_ARCHITECTURES=80` explicitly.  CMake then tells me repeatedly that it is empty, then ices the cake by telling me that it ignored my attempt to set it.

What is the solution?  Thanks.

# Summary

[code]

[code]

# Full Output
[code]

[2021-04-06 14:48] jeffhammond commented on #112
I figured it out, although I still have no useful intuition on when to prepend a variable with `CMAKE_` or not.

[2021-04-06 14:48] #112 closed

[2021-04-06 15:06] rhornung67 commented on #112
@jeffhammond you can set the CUDA compute architecture using the variable CUDA_ARCH (e.g., -DCUDA_ARCH=sm_70). It should be documented better since this is non-conventional. IIRC, the BLT build system uses this variable to set up some build and link magic, making this easier for users. Glad that you figured it out.

[2021-04-06 22:44] MrBurmark opened #113 "Larger polybench kernel sizes broken with cuda and hip"
The larger sizes for the polybench kernels cause errors in the cuda and hip variants. The sizes exceed the max block/workgroup size and cause the kernel launches to fail.

[2021-04-06 22:45] MrBurmark opened #114 "Add reduction only kernels"
Add reduction only kernels to compare reduction performance between different operators and different architectures.

[2021-04-06 22:50] MrBurmark opened #115 "Add element-wise atomic kernels"
Add element-wise atomic tests to compare performance of atomics against stream benchmarks.
Add tests using both double and int data types because some architectures have native int atomics but lack native double atomics.

[2021-04-06 22:55] MrBurmark opened #116 "Output features used by each kernel"
Outputting the features used by each kernel can help analyze the differences in results between different architectures. This should help identify performance features that differ between different architectures; making it easier to note where performance is in line or out of line with expected architecture performance differences.

[2021-04-06 22:57] rhornung67 commented on #115
👍

[2021-04-06 22:57] rhornung67 commented on #116
👍 I'll assign this to myself.

[2021-04-06 22:58] rhornung67 commented on #114
I'll take this one too.

[2021-04-06 23:01] rhornung67 commented on #113
I agree this would be good to fix. It will take more or less work to address depending how much guidance we want to give to users on this.

[2021-04-06 23:03] DavidPoliakoff commented on #116
Yeah, there's a neat summer student project where you use these features, a spec sheet for the architecture, and some reference architecture's timings to estimate the time it should take on a new arch. This would be independently useful though, we often rely on a hand-wavy version of the same thing to discuss the Perfsuite with vendors

[2021-04-07 15:00] artv3 commented on #113
One fix could be to use the thread_loop policies and the native analogues. This would also construct examples which expose issues in compiler optimizations for the block stride thread loops we have seen.

[2021-04-07 16:00] rhornung67 commented on #116
I'll also add a run-time mechanism to choose which kernels to run based on feature to exercise.

[2021-04-07 16:39] MrBurmark commented on #113
This could be an opportunity to try both loop and tile+direct for different problem sizes and see what performance difference there is.

[2021-04-08 22:52] trws opened #117 "normalize on chevron or launch syntax for cuda/hip kernels"
I see this merged, but this begs the question of why it's not using either the launch call syntax or the triple chevron for both.  They both offer both, and triple chevron is measurably slower on both IIRC.

_Originally posted by @trws in https://github.com/LLNL/RAJAPerf/pull/108#discussion_r610156706_

[2021-05-28 13:45] CRobeck commented on #113
What is the disadvantage here to just limiting the threads per threadblock to be within the runtime max?

[2021-05-28 14:49] rhornung67 commented on #113
@MrBurmark do you want to take a stab at fleshing out the runtime selection of loop or tile+direct policies for a kernel or two? When we settle on something that we like, I can work this in to the rest of the kernels.

[2021-05-28 14:51] rhornung67 commented on #113
@MrBurmark has experimented with threads/block more than I have. @MrBurmark any thoughts on this?

[2021-05-28 16:24] MrBurmark commented on #113
The tile+direct policies can expose more parallelism and map to the hardware more consistently, but that consistency can also create small blocks depending on the parameters. The loop policies don't tend to optimize as well and have a little extra overhead compared to the direct policies even when they are well optimized. @artv3 mentioned this and it might be a good idea to have both versions for

[2021-06-07 18:08] MrBurmark opened #129 "Kernels to add"
List of kernels to add to the perf suite:

- scan, index list building
[code]
- More reductions #114
- Element wise atomics #115

[2021-06-08 22:01] rhornung67 commented on #129
I believe we should be able to do baseline variants of scan kernels for OpenMP and OpenMP target (as of OpenMP 5.0. Is there a reasonable way to do baseline variants of scan kernels for GPU back-ends?

[2021-06-08 22:04] rhornung67 opened #130 "Remove "SizeSpec" enum used in polybench kernels"
- [x] Remove this since it is inconsistent with other kernels and is not used in those.
- [x] Define a way for each polybench kernel size to be modified using the 'sizefact' option.

[2021-06-08 22:08] rhornung67 opened #131 "Use consistent grid/block stride loops in GPU kernels"
- [x] Make sure all kernels that use RAJA::kernel use tiling policies for mapping to thread blocks (and not direct only) to allow for arbitrarily-sized kernel runs.
- [x] Change baseline GPU implementations of these kernels to also use grid/block stride loops to compare with RAJA variants better.

See also https://github.com/LLNL/RAJAPerf/issues/113

[2021-06-08 22:10] rhornung67 opened #132 "Make threads per block parameter a run time choice"
Currently, the threads per block parameter is hard-coded in each GPU kernel variant source file.

- [ ] For each GPU back-end (and kernel?), pick a default block size, but allow it to be changed with a runtime option.
- [ ] Report this information in the output summary file.

[2021-06-08 22:18] rhornung67 opened #133 "Define problem size consistently across suite"
This issue involves several tasks:

- [x] Define problem size consistently for all kernels in suite and document what this means in the README file and in the help message output.
- [x] Set default loop length to be the same for all kernels that use RAJA::forall only. Adjust default kernel repetitions from what is there now so no kernel variant has too large or too small runtime (judgement call).

[2021-06-08 22:20] rhornung67 opened #134 "Add option specify size of kernels to run directly"
For example, we want to be able to do something like: run all forall kernels with loop length 1,000,000.

[2021-06-08 22:36] rhornung67 opened #135 "Add bandwidth output"
- [ ] Determine how to instrument the kernels to generate bandwidth output. One possibility: # bytes read + # bytes written in each loop iteration * total number of loop iterations (i.e., run size * # kernel reps).  Other possibilities?
- [ ] Determine how best to report this in an output file

[2021-06-08 22:40] rhornung67 opened #136 "Add per loop timing output"
Ideally, this may help us understand GPU kernel launch overhead/latency.

How best to do this? Count total number of kernels launched per kernel variant and divide total execution time by this number..

Note: some kernels actually launch multiple GPU kernels within them; e.g., many polybench kernels do this and apps kernels like PRESSURE and ENERGY

[2021-06-09 15:23] MrBurmark commented on #129
Good call @rhornung67, scan was added in openmp 5.0 so we can conditionally add a baseline for openmp. We can use cub and rocprim for the base variants of cuda and hip scan kernels.

[2021-06-09 15:41] MrBurmark commented on #135
Another way to count memory use outside of the per iterate level is to count the memory use across the whole loop. For example a sequential reduction reads and writes the reduction variable once per loop iteration but uses the same memory for the whole loop so the first scheme would 1 read and 1 write per iterate and the second would only count 1 read and 1 write for the whole loop. The main reaso

[2021-06-09 15:48] MrBurmark commented on #136
Since this is mainly targeted at launch overhead/latency of loops I think it makes sense to count the places that parallelism is applied in the loop structure, like the places that omp for or kernel launch are done. What do people think about that for kernels with multiple loops?

[2021-06-09 15:58] rhornung67 commented on #136
I think that makes sense, but need to ruminate on it a bit more. (I like using "$10 words" in GitHub issue comments... :-) )

[2021-06-09 16:20] artv3 commented on #132
We can do this with RAJA Teams, but Forall/Kernel functions template on the threads per block size.

[2021-06-09 17:37] rhornung67 commented on #132
Right, but I think we should be able to set it as a runtime option. Or am I confused?

[2021-06-16 21:07] rhornung67 commented on #116
@MrBurmark we still want to do this, correct? I'm starting to work on it.

[2021-06-16 21:36] MrBurmark commented on #116
Ya, I still think its a good idea.

[2021-06-16 21:41] rhornung67 commented on #116
OK. I'm on it.

[2021-06-18 16:49] rhornung67 commented on #116
@MrBurmark I have a branch with basic support for outputting features used by the kernels. I need to add a mechanism to select which kernels to run based on features.  What I have now reports that a kernel uses RAJA::kernel or it doesn't, for example. Should we distinguish kernels that use multiple lambdas from the single lambda case?

[2021-06-18 17:40] MrBurmark commented on #116
@rhornung67 I'm not sure if that level of detail is useful to distinguish or not, do you expect compilers may have a harder time with multi-lambda kernels than single lambda kernels?

[2021-06-18 17:42] rhornung67 commented on #116
Not really. I wanted to know what you thought. I'll go with what I have now. We can modify in the future if we think that is useful at some point.

[2021-06-18 22:50] rhornung67 commented on #134
@MrBurmark do we want this to be something like "run each kernel with size = N" and we choose how to do that for each kernel. Forall kernels are pretty straightforward for this. Others with multiple loops, or nested loops (and loop nest patterns) will take some thought.

[2021-06-18 23:46] MrBurmark commented on #134
@rhornung67 Sure, we can at least get a start on it. Currently the "problem size" is expressed as iterations per rep. How about we split that into iterations per rep and a more abstract problem size that can mean different things for each kernel. How about adding other bits of information like bytes read per rep and kernels per rep to the per kernel information to handle things like bandwidth, ker

[2021-06-19 16:53] rhornung67 commented on #134
@MrBurmark All good ideas. Let's use this issue to sketch out a set of tasks for this, with as much detail about how we define problem size, bytes read/written per rep, etc. Then, we can tackle the tasks as we have time.

[2021-06-22 18:26] MrBurmark commented on #134
@rhornung67 I talked with @ajkunen about ltimes so I think I have a good enough handle on problem size for everything but polybench to move forward and make a PR where we can discuss problem size. Regarding the other metrics, I plan to take my existing PRs #126 and #128 and convert them to output their info as per kernel information so we can discuss the exact meaning of things like bytes read and

[2021-06-22 18:30] rhornung67 commented on #134
Not sure about your last question, but the rest sounds good. I look through the polybench kernels after your PRs are ready. For outputting other kernel metrics, we should do this in separate report file(s). We should discuss how best to organize the output so it's clear.

[2021-06-22 21:49] MrBurmark commented on #134
I think we're adding enough per kernel information that we may just want to have a file for general information about the kernels instead of only printing that to the screen.

[2021-06-22 22:03] rhornung67 commented on #134
Agreed. It would make the output in the other files simpler. Please create an issue describing the information we want to include in the summary file and how we think it should be presented. Thanks.

[2021-06-22 22:36] MrBurmark commented on #134
@rhornung67 See #143 for how I'm adding a function to get the problem size for each kernel.

[2021-06-23 16:23] MrBurmark opened #144 "Add kernel details output file"
The names of kernels, the number of iterations per repetition and the number of repetitions are already output to the screen. Take that output and more and output it to a file so there is a record of the kernels run and their configuration. I'm imagining something like a CSV file with these columns of information:

- [ ] Kernel name (meaning: the group_kernel format of the kernel name)
- [ ] probl

[2021-06-23 16:24] MrBurmark commented on #134
See #144 for my kernel information file output ideas.

[2021-06-23 16:35] MrBurmark commented on #134
I'm adding a --size option to directly specify a problem size to run. I'm planning to make it an error to set size and sizefact in the same run, what do you think?

[2021-06-23 16:38] rhornung67 commented on #134
Sounds good. I agree on the error.

[2021-06-23 16:39] rhornung67 commented on #134
I commented on your PR about run sizes.

[2021-06-23 18:08] rhornung67 commented on #144
what do you mean be "iterations per repetition" for kernels that launch multiple kernels, potentially of different sizes? also, is "loops/kernels per repetition" meant to be the total number of kernels launched per repetition?

[2021-06-23 19:19] MrBurmark commented on #144
For "iterations per repetition" I meant what we already call "iterations/rep." This mostly picks something like the max iterations when there are multiple kernels of different sizes. Though we could also change it to be the total iterations per repetition including repetitions from different loops.
Yes the "loops/kernels per repetition" does mean the number of kernel launches per repetition.

[2021-06-23 20:10] rhornung67 commented on #144
OK. Thanks. I'll work on this after we get enough things merged to address all of these items.

[2021-06-24 20:28] rhornung67 commented on #144
@MrBurmark @artv3 do the definitions I added to the items above make sense? I'm trying to make them clear so that we all have the same understanding and are in agreement about what they mean.  Thanks.

[2021-06-24 20:35] MrBurmark commented on #144
Did the edit take, I don't see any changes.

[2021-06-24 20:40] rhornung67 commented on #144
Sorry. Do you see it now?

[2021-06-24 21:08] artv3 commented on #144
For problem size, what about measuring by input array size? Or how do we measure in the case of hierarchical parallelism?

[2021-06-24 21:14] rhornung67 commented on #144
@artv3 yes, i think product of blocks and threads is correct. we're trying to define problem size as the amount of parallelism in the kernel. For example, consider a mat-vec: y = A x, where A is an R x C matrix. The size of this kernel would be R since you can do each row-vector dot product in parallel, but each dot product has to be done sequentially. For a vector dot product (x, y), where x and

[2021-06-25 16:02] artv3 commented on #144
Yes.  In case of a block or grid stride loop would we still count it as R? or would it be less since some threads would execute more than one dot product.

[2021-06-25 16:18] MrBurmark commented on #134
Option added in #143.

[2021-06-25 16:18] #134 closed

[2021-06-25 16:32] rhornung67 commented on #144
That's a good point.  I'm not sure how to handle this? @MrBurmark thoughts?

[2021-06-25 16:36] MrBurmark commented on #144
I think the problem size should be independent of the implementation details like grid stride or block stride. So I would say it should be the full size or R.

[2021-06-25 16:38] rhornung67 commented on #144
I tend to agree and it will make things much easier for us when we transform the kernels to use grid/block stride loops.

[2021-06-25 21:42] MrBurmark commented on #144
@rhornung67 I added a basic description for FLOPs here.
There are some unanswered questions like what counts as a FLOP, when I added the counts I counted operations like +, -, *, /, sqrt, exp as one flop each, and ignored things like abs, and comparisons. Maybe we can add an asterisk for kernels that use more complex operations so they can be easily identified.
What do people think we should count

[2021-06-29 02:21] willkill07 commented on #144
I am in agreement regarding abs not being deemed a FP operation.

FP comparisons are a bit unique, but the throughput and latency on modern architectures are 1 cycle.

I think it would add value to say which kernels have special operations (such as abs and floating point comparisons), but they need not be reported.

[2021-07-06 16:55] CRobeck opened #151 "Stream_DOT"

[2021-07-06 16:58] #151 closed

[2021-07-06 23:08] #144 closed

[2021-07-07 18:34] mdavis36 opened #158 "Windows build support"
Cannot currently build on windows with msvc due to incompatible include headers.

[2021-07-07 18:36] mdavis36 opened #159 "Sycl Azure CI Support"
Need to add Sycl azure support when raja sycl support is released.

[2021-07-13 20:49] #133 closed

[2021-07-13 20:50] #116 closed

[2021-08-02 14:25] jeffhammond opened #167 ""See the RAJAPerf/COPYRIGHT file for details." refers to non-existent file"
The following isn't very useful if `./COPYRIGHT` does not exist...

[code]

[2021-08-02 16:52] #167 closed

[2021-08-03 08:16] jeffhammond opened #170 "verification is not sufficient"
I haven't determined how many cases are affected but at least in the case of `FIRST_DIFF`, a null implementation passes the verification test.

Is there a way to enable tedious verification by comparing to the sequential implementation?

[2021-08-04 18:17] rhornung67 opened #171 "Prevent compiler warnings when certain variants not built"
When you turn off OpenMP via CMake, for example, the unused variant ID for those files generates compiler warnings for unused variables.

THis can be fixed by casting the unused variables to 'void' for those cases.

[2021-08-04 18:20] rhornung67 opened #172 "Scale checksums for uniformity"
different kernels generate checksum differences of different magnitudes, currently. To make it easier for users to determine whether the kernels are running correctly, implement a checksum scaling convention so that we can state that checksum differences < 1e-8 (for example) means that the execution is corrrect. this should work for arbitrary problem sizes also.

[2021-08-04 18:22] rhornung67 opened #173 "add a reduction kernel to the warmup kernels"
this will prevent first reduction kernel run showing a significant slowdown

[2021-08-04 21:05] rhornung67 commented on #170
@jeffhammond can you provide more details? I don't understand what you see to be an issue.

The way the kernels are set up is that the result arrays used in the checksum calculations are initialized to zeros. So when a kernel is not run, it's checksum is computed to be zero, while other variants that do run will have non-zero checksums. This implies something is not correct.

I interpret what you

[2021-08-05 06:57] jeffhammond commented on #170
Ah, I didn't realize that erroneous results wouldn't be flagged in the timing output.

The good news is that the `StdPar` ports are mostly validating.  The exceptions are all similar:

[code]

[2021-08-05 06:57] #170 closed

[2021-08-05 10:48] jeffhammond opened #176 "OpenMP user-defined reductions not support by NVHPC yet"
NVHPC 21.5 does not support user-defined reductions from OpenMP 5.0.

I have a fix and will submit the pull request soon.

[code]

[2021-08-05 11:04] jeffhammond commented on #176
This is the trivial if you are impatient w.r.t. the pull request.

[code]

[2021-08-05 15:20] rhornung67 commented on #170
@jeffhammond I broke the output into separate files for timing, checksums, etc. I can add something to the timing output to indicate when checksums are off if you think that would be helpful.  Also, I have a PR under review that scales checksums for certain kernels so that we can definitively state that a checksum difference of, say, < 1e-8 for any kernel or variant is considered a correct result.

[2021-08-05 15:24] jeffhammond commented on #170
Cool. Yeah, I mostly want non-validating results to not show performance because obviously getting the wrong answer at any speed doesn't matter.

But now that I'm not ignorant of the way it works, it isn't hard to deal with what's there already.

I did find a fun issue with reductions in DOT that revealed itself via an error of 1e-10 earlier today, so I'd be careful tolerating too much error in th

[2021-08-05 15:31] rhornung67 commented on #170
Thanks for the tip.

[2021-08-06 18:07] #172 closed

[2021-08-06 18:07] rhornung67 commented on #172
merged into develop

[2021-08-06 18:08] rhornung67 commented on #171
merged into develop.

[2021-08-06 18:08] #171 closed

[2021-08-06 18:08] rhornung67 commented on #131
merged into develop

[2021-08-06 18:08] #131 closed

[2021-08-06 18:09] rhornung67 commented on #113
Fixed and merged into develop

[2021-08-06 18:09] #113 closed

[2021-08-06 18:09] rhornung67 commented on #130
done and merged into develop

[2021-08-06 18:09] #130 closed

[2021-08-06 18:12] rhornung67 commented on #135
@MrBurmark this issue can be closed, correct? You've added the read/write counts to all kernels and this is reported in the kernel info output file.

[2021-08-06 18:13] rhornung67 commented on #136
@MrBurmark I believe this one is done also, correct?

[2021-08-06 18:15] MrBurmark commented on #135
Yes it can be calculated from that output now.

[2021-08-06 18:15] #135 closed

[2021-08-06 18:15] MrBurmark commented on #136
Yes it can now be calculated from the kernel output.

[2021-08-06 18:15] #136 closed

[2021-08-06 18:18] rhornung67 commented on #173
@rhornung67 if we run all desired variants of the DAXPY and DOT kernel, will that be sufficient to prevent all kernels from running slower the first time? Or, do we need to run all kernels as warmup?   I need to think about it, but we may be able to rig up something to run each kernel in a "warmup mode" (smallish size and rep count) first and ignore the timing for that.

[2021-08-06 18:44] MrBurmark commented on #173
That would probably be enough. The only thing that would potentially miss is if the memory pools need to allocate more memory for larger problems or problems with more reducers.

[2021-08-06 18:57] rhornung67 commented on #173
OK. I'll do the kernel with 3 reductions instead and run it at full size.

[2021-08-06 22:12] rhornung67 commented on #173
Done and merged into develop.

[2021-08-06 22:12] #173 closed

[2021-08-13 17:26] CRobeck opened #179 "Add Tests to Perf Suite"
1. Cover the full variety of different reusers in RAJA
2. Add a test that does one min reduction
3. Add a test that does one min-loc reduction
4. Add a test that uses 10 reducers (Currently, some tests with single reduction, one test with 3 int reducers but don't have tests with any more)
-Start with App test
5. Cover greater variety of reductions.

[2021-09-01 20:53] #132 closed

[2021-09-01 20:53] rhornung67 commented on #132
can reopen issue if we decide to do this...

[2021-09-22 21:38] MrBurmark opened #189 "Add option to exclude kernels"
Currently there is an option to run specific kernels but no option to exclude certain kernels.
The main use case for something like this is to avoid running kernels that are known to be very slow on certain architectures to reduce runtime.

[2021-09-24 17:38] #189 closed

[2021-10-11 21:46] homerdin opened #195 "SYCL kernels to be added"
The following is a list of kernels which do not have their SYCL variants implemented in #122.

- [ ] Basic_MAT_MAT_SHARED: Missing SYCL teams implementation
- [ ] Basic_PI_ATOMIC: Missing SYCL atomics implementation
- [ ] Basic_PI_REDUCE: Ready to be implemented
- [ ] Lcals_FIRST_MIN: Ready to be implemented
- [ ] Lcals_FIRST_SUM: Ready to be implemented
- [ ] Polybench_3MM: Ready to be implemente

[2021-10-12 17:28] artv3 commented on #195
@homerdin getting a base version sounds good to me. I can assist with developing the RAJA Teams backend version.

[2021-10-25 18:58] CRobeck opened #198 "Add MPI support for RAJAPerf tests"

[2021-10-26 14:44] MrBurmark opened #200 "Optimize hip multidimensional kernels"
The hip multidimensional kernels are currently copies of the cuda variants and use 32 threads in the x block dimension. We should look at using 64 threads instead as that matches the hip wavefront size.

[2021-11-01 17:44] MrBurmark opened #201 "No option to output for min, max for multiple pass runs"
Currently we only output the average even when performing multiple passes. Add options to output min, max, and/or average.

[2021-12-09 23:53] rhornung67 commented on #198
@MrBurmark we can close this issue, correct?

[2021-12-09 23:54] rhornung67 opened #204 "Switch to single policy for teams kernels."
RAJA has been changed to allow a single policy to be specified for RAJA teams kernels. Switch to that for the relevant kernels.

[2021-12-10 00:51] MrBurmark commented on #198
Yes.

[2021-12-10 00:51] #198 closed

[2022-01-31 16:56] MrBurmark commented on #201
Fixed in #202

[2022-01-31 16:56] #201 closed

[2022-02-24 22:10] artv3 opened #214 "Sort out RAJA_Unroll vs RAJA_PERF_Unroll"

[2022-03-16 17:48] artv3 opened #216 "Warnings with MAT_MAT_SHARED-Hip and MASS3DPA-Hip with rocm 4.5.2"
Warnings of the form:
[code]

have been observed. Will fix.

[2022-03-18 16:55] artv3 commented on #216
resolved

[2022-03-18 16:55] #216 closed

[2022-03-18 19:58] #204 closed

[2022-03-24 21:38] artv3 opened #220 "Unrecognized warning pragmas: unrecognized GCC pragma"
With the following build config: build_lc_blueos-nvcc10.2.89-sm_70-gcc8.3.1
We get the following warnings:

[code]

[2022-03-24 21:39] artv3 commented on #220
ping: @ajkunen, I'm taking a look at these but just wanted to check in and ask if you might have some insight? I suspect we might be missing some macro logic.

[2022-03-24 21:59] artv3 commented on #220
My RAJA was out of date, the latest version resolves this.

[2022-03-24 21:59] #220 closed

[2022-03-24 22:01] rhornung67 commented on #220
whew! I thought we had resolved those issues. @ajkunen no need to think about this. 😄

[2022-03-30 19:04] rhornung67 opened #222 "PRs to merge for v0.12.0 release"
We want to merge the following PRs before the v0.12.0 release:

- [x] https://github.com/LLNL/RAJAPerf/pull/225
- [x] https://github.com/LLNL/RAJAPerf/pull/221
- [x] https://github.com/LLNL/RAJAPerf/pull/211
- [x] https://github.com/LLNL/RAJAPerf/pull/212
- [x] https://github.com/LLNL/RAJAPerf/pull/187
- [x] https://github.com/LLNL/RAJAPerf/pull/138
- [x] https://github.com/LLNL/RAJAPerf/issues/23

[2022-03-31 03:27] CRobeck opened #223 "Add MARBL Matrix Free Solve Test"
@artv3

[2022-03-31 03:29] CRobeck opened #224 "Add matrix cores test to perf suite"

[2022-04-04 17:37] #214 closed

[2022-04-05 21:59] MrBurmark opened #227 "OpenMP scan not working"
I noticed that the openmp scan construct is not well supported on current compilers while working on #138.
This is a reminder to try out omp scan again with newer compilers.
Note config option RAJA_PERFSUITE_ENABLE_OPENMP5_SCAN can be used to enable omp scan construct implementations.

[2022-04-05 22:05] rhornung67 commented on #227
Is there a way to detect supported OpenMP features at compile time, like we do for C++?

[2022-04-05 22:13] MrBurmark commented on #227
I was not clear, the problem that I encountered was a runtime problem. I think it was both very slow and/or wrong.

[2022-04-07 10:21] iteratorlee opened #229 "building error with gcc 9.3.0 nvcc 11.6.55"
cuda compute architecture: sm_75
gcc version: 9.3.0
nvcc version: 11.6.55

[code]

[2022-04-07 15:22] rhornung67 commented on #229
@MrBurmark will you please look into this?

[2022-04-07 16:57] MrBurmark commented on #229
I was able to reproduce this with cuda 11.6.112 and clang 12.0.1.
It looks like nvcc is messing up a type alias of a lambda that returns another lambda.
Here is what is going on with the macros expanded.

[code]

[2022-04-07 17:20] rhornung67 commented on #229
Thanks @MrBurmark. We should contact the appropriate folks and inquire about submitting a bug report and reproducer.

[2022-04-07 19:41] MrBurmark commented on #229
@rhornung67 I reproduced the issue and sent the reproducer to nvidia.

[2022-04-07 19:44] rhornung67 commented on #229
Thank you @MrBurmark

[2022-04-15 18:28] rhornung67 opened #234 "Better lambda variant implementation?"
In some kernels, where we have non-RAJA lambda variants, we use a simple lambda that only returns an array value; e.g., https://github.com/LLNL/RAJAPerf/blob/develop/src/basic/REDUCE3_INT-Seq.cpp#L58

If we used a lambda that actually represented the loop body, then we would have to use capture-by-reference, but then we wouldn't be able to have a similar implementation across all back-end variants

[2022-04-15 18:38] rhornung67 opened #235 "Add CI test"
Currently, in our CI checks, we run the suite, but make no checks for correctness. Add a CI test to check for correctness.

[2022-04-19 18:30] #115 closed

[2022-04-19 18:47] MrBurmark opened #237 "Think about how checksum should weigh elements in arrays."
Currently calcChecksum weights each element proportionally to its position relative to the start of the array. So later elements are given more weight and the total sum is proportional to the number of elements squared.
[code]
I ran into issues with the checksum when implementing scan kernels with doubles as the error at each element is proportional to its position relative to the start of the arr

[2022-04-19 19:28] rhornung67 commented on #237
I think changing the checksum calculation is a good idea. I came up with the current implementation when I started the perf suite and haven't given it much thought since. I think we should still weight the entries to avoid issues with result entries being the same but in different order. Since we run potentially much larger kernels now, the weighting gets increasingly skewed toward the later array

[2022-04-19 21:20] MrBurmark commented on #237
That makes sense that the intention is to catch permutations. We could also implement a more summation like pairwise or kahan.
I like the idea of using something like sin, but since it can get arbitrarily close to 0 maybe we should add 0.5 so nothing gets reduced too much and the sum will still be about N.
[code]

[2022-04-19 21:26] rhornung67 commented on #237
A Kahan sum would be good so that summation over many values is more accurate.

[2022-04-19 21:35] MrBurmark commented on #237
So a final version might look something like this.
[code]

[2022-04-19 22:28] rhornung67 commented on #237
I likey!

[2022-04-24 15:27] jeffhammond opened #239 "RAJA seems FUBAR with OpenMP CPU enabled"
I haven't run `git bisect` but all of my builds now fail with OpenMP CPU enabled.

For example, a9d3b11abbdc9c521b10f718fceae0b446dcdd48, but also other ones.

I build like this:
[code]

`Release` versus `Debug` does not matter, although it changes the details in the backtrace.

AArch64 versus x86_64 does not matter.

I see with both GCC 9.3.0 and 9.4.0, as well as the latest ARM Clang and GCC dis

[2022-04-24 15:29] #239 closed

[2022-04-24 15:30] jeffhammond commented on #239
Sorry, I'm stupid.  I forgot to purify my `LD_LIBRARY_PATH`.

[code]

[2022-04-24 20:57] rhornung67 commented on #239
@jeffhammond that sort of thing happens to all of us.... 😄

[2022-04-29 20:43] #237 closed

[2022-05-05 01:44] CRobeck opened #244 "Minimum required gcc 9.0 when compiling with nvcc?"
Compiling with gcc 8.1.0 + nvcc 11.2.67 gives the following build error:

/RAJAPerf/src/basic/MAT_MAT_SHARED-Cuda.cpp: In instantiation of 'void rajaperf::basic::MAT_MAT_SHARED::runCudaVariantImpl(rajaperf::VariantID) [with long unsigned int block_size = 256]':
/tmp/tmpxft_002d5158_00000000-6_MAT_MAT_SHARED-Cuda.cudafe1.stub.c:12:193:   required from here
RAJAPerf/src/basic/MAT_MAT_SHARED-Cuda.cpp

[2022-05-05 15:06] rhornung67 commented on #244
That seems odd because tile_size is declared constexpr here https://github.com/LLNL/RAJAPerf/blob/develop/src/basic/MAT_MAT_SHARED-Cuda.cpp#L67. I believe n3639 arrays (analogous to C99 VLA) came in C++14. Are you building with C++14; i.e., pass -DBLT_CXX_STD=c++14 option to CMake?

[2022-05-05 15:09] CRobeck commented on #244
Should add something like:
set(CMAKE_CXX_STANDARD 14)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
To the top level RAJA Perf CMake files?

[2022-05-05 15:12] rhornung67 commented on #244
https://github.com/LLNL/RAJAPerf/blob/develop/CMakeLists.txt#L25

Dunno what's going on....

[2022-05-05 15:36] adayton1 commented on #244
I’m pretty sure BLT sets both CMAKE_CXX_STANDARD and
CMAKE_CXX_STANDARD_REQUIRED.

On Thu, May 5, 2022 at 8:16 AM Corbin Robeck ***@***.***>
wrote:

[2022-05-05 15:58] davidbeckingsale commented on #244
Can you post the output of `make VERBOSE=1`?

[2022-05-05 18:42] CRobeck commented on #244
Confirmed -std=c++14 is getting set and still get build error - don't entirely understand why:

cd /RAJAPerf/build_cuda/src/basic && /cm/shared/apps/cuda11.2/toolkit/11.2.0/bin/nvcc -forward-unknown-to-host-compiler -ccbin=/opt/gcc/8.1.0/bin/c++ -DRUN_RAJA_SEQ -I/RAJAPerf/build_cuda/include -I/RAJAPerf/src/. -I/RAJAPerf/tpl/RAJA/include -I/RAJAPerf/build_cuda/tpl/RAJA/include -I/RAJAPerf/tpl/RAJA/

[2022-07-08 08:05] jeffhammond opened #251 "please set -Wno-volatile flag by default in CMake"
It would be good if CMake set `-Wno-volatile` so that known innocuous warnings such as this do not pollute the output.

[code]

[2022-07-08 08:30] jeffhammond opened #252 "copy paste errors in MEMCPY-*cpp"
`memset_lambda` should be `memcpy_lambda` in the MEMCPY-*.cpp files.

[2022-07-08 15:41] jeffhammond commented on #252
No, I have been working on RAJAPerf for the past two days. These kernels are new since the last time I looked, so I noticed the issue. I do most of my RAJAPerf porting using vimdiff, which makes such things easy to spot.

https://github.com/jeffhammond/RAJAPerf/tree/new-stdpar

[2022-07-11 06:57] jeffhammond opened #253 "please add compiler flags to suppress annoying warnings during Release builds"
This is a feature request.  I'm not optimistic you'll accept it.  At worst, this will be documentation for future users who want this.

Warnings are very good for developers, and in Debug builds.  I'm not sure they help in Release builds, since they can cause unnecessary concern by users (at least the demented ones who actually look at compiler warnings).

This warning is annoying:
[code]
Every co

[2022-07-11 19:41] #252 closed

[2022-07-12 16:15] jeffhammond commented on #251
closed in favor of https://github.com/LLNL/RAJAPerf/issues/253

[2022-07-12 16:15] #251 closed

[2022-07-12 16:20] jeffhammond commented on #234
This is not similar to other implementations but is modernC++errific implementation that uses lambdas a lot 😄
[code]

[2022-08-03 18:07] jonesholger opened #257 "Minor issue with -od flag relative to ../"
Reproduce on branch develop (dfde0242358)
cd into build/bin
./raja-perf.exe  -k Basic_NESTED_INIT -od ../test1 --checkrun -sp
ls
RAJAPerf-checksum.txt  RAJAPerf-fom.csv  RAJAPerf-kernels.csv  RAJAPerf-speedup-Average.csv  RAJAPerf-timing-Average.csv  raja-perf.exe

ls ../test1
ls: cannot access '../test1': No such file or directory

rm *.txt *.csv
./raja-perf.exe  -k Basic_NESTED_INIT -od $(pwd)/.

[2022-08-03 22:19] jonesholger commented on #257
I commented out initial logic to remove . or ./  in recursiveMkdir and it works fine for the few tests I ran. But, we should find out the orig rationale.

[2022-08-03 23:38] rhornung67 commented on #257
That maybe hasn't been used in a while and it may be out of sync with all the changes that have happened in recent months. I'll take a look to see if I can fix it.

[2022-08-31 07:41] jeffhammond opened #262 "does SORTPAIRS need to use reserve+emplace_back?"
I am working on the C++17 parallel version of SORTPAIRS, and I cannot use `emplace_back` there.  I find that I can switch from `reserve` to `resize` and use simple assignment instead of `emplace_back`, but I don't know if this consistent with the intent.

Unfortunately, I don't see any non-RAJA parallel references to guide me here.  The OMP and CUDA parallel versions just call `the RAJA::sort_pair

[2022-08-31 16:20] MrBurmark commented on #262
You are right, emplace_back is not parallel safe. Unfortunately resize will default construct items in memory sequentially, which will zero storage for types that are trivially constructible. We really want to do something like uninitialized_fill with std::execution::par, except that we need to generate the elements based on their index. I don't see a way to fill a vector in that way with a parall

[2022-09-01 12:06] jeffhammond commented on #262
Sorry, but why is this bad?  Because initialization faults pages and causes problems with NUMA (including GPU migratable memory)?  Or because sequential initialization is slow?

Given that `std::sort` is O(N log N), how likely is zero initialization going to be the performance bottleneck?  If I'm going to have a sequential bottleneck, I'd much rather it look like `memset` than a loop over `emplace

[2022-09-01 16:46] MrBurmark commented on #262
Those are both things that I would think of, but I don't have the most experience with cpu threading so I'll take your word for it that they're not that bad. We would probably run at least 1 MPI process per NUMA domain so that may not be an issue anyway.

I don't know a lot about how hardware acceleration of zeroing works, does that get accelerated if there is padding that isn't zeroed? How much d

[2022-09-01 16:57] MrBurmark commented on #262
@mhoemmen Do you know if uninitialized_generate was proposed for the stl?

I also planned to use `std::make_unique<element_type[]>` before I realized that it would generate a zeroing loop, at `.L2` in the gcc output. What's your opinion on that extra zeroing?

[2022-09-01 18:15] MrBurmark commented on #262
Actually, isn't it undefined behavior to `construct_at` objects into the memory allocated via `std::make_unique<element_type[]>` because the memory is already initialized with the array of objects?

[2022-09-01 22:54] mhoemmen commented on #262
@MrBurmark wrote:

That's a good point, thank you!  I had forgotten that `make_unique` value-initializes the elements of the array.  `make_unique_for_overwrite` default-initializes the objects.  Unfortunately, default-initializing a `tuple<double,int>` value-initializes the elements.

The fix is to use custom allocation and deallocation.  `tuple<double, int>` is trivially destructible, because all

[2022-10-05 18:14] rhornung67 commented on #235
Test that runs all kernels and variants and compares checksums within a set tolerance to pass/fail has been added, and is in develop.

[2022-10-05 18:14] #235 closed

[2022-10-05 18:15] #222 closed